BASE_URL=https://playground.bondaracademy.com/pages/forms/layouts
API_SERVER=https://conduit-api.bondaracademy.com/api
API_KEY=
HOME_URL=https://conduit.bondaracademy.com
LOGIN_URL=
LOGIN_EMAIL=
LOGIN_PASSWORD=
